body{
  padding: 0;
  margin: 0;    
  width:100vw;
  height: 100vh;    
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
}

.scores{
  margin: 10px 5vw;
}

.time{
  margin-right: 10vw;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-container{
  margin: 10px;
  margin-bottom: 30px;
  padding: 5px;
  height: 10vh;
  background-color: #c7dddf;
  font-size: x-large;
  text-align: center;
    
}
.result{
  margin: 10px;
  padding: 5px;
  width:80vw;
  height: 10vh;
  text-align: center;
  font-size: 50px;
    
}
.answer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  margin: 10px;
  padding: 5px;
  height: 20vh;
  background-color: #9eb1b3;   
      
}
.answer{    
  padding: 10px;
  width: 10vw;
  height: 5vh;
  font-size: larger;
  background-color: #E6E6FA;
}
.answer:hover{
  background-color: #808080;
}

.evaluate,.next{
  width:30vw;
  height: 8vh;
  padding: 5px;
  font-size: larger;
}
.evaluate{
  
  background-color: #50DBB4;
}
.next{
  color: white;
  background-color: #BF3325;
}



